autom4te.cache/
bin/
config.log
config.status
doc/manual.aux
doc/manual.bbl
doc/manual.blg
doc/manual.dvi
doc/manual.example-3.tst
doc/manual.example-4.tst
doc/manual.example-5.tst
doc/manual.example-6.tst
doc/manual.example-7.tst
doc/manual.example-8.tst
doc/manual.idx
doc/manual.ilg
doc/manual.ind
doc/manual.lab
doc/manual.log
doc/manual.pdf
doc/manual.toc
doc/tthmacros.tex
doc/tthout
htm/
include/config.h
Makefile
src/*.o
standalone-doc/guide.aux
standalone-doc/guide.dvi
standalone-doc/guide.log
standalone-doc/guide.pdf
standalone-doc/guide.toc
testPq
