aclocal.m4
autom4te.cache/
bin/
cnf/
config.log
config.status
configure
doc/*.js
doc/*.css
doc/*.html
doc/*.txt
doc/*.example-3.tst
doc/*.example-4.tst
doc/*.example-5.tst
doc/*.example-6.tst
doc/*.example-7.tst
doc/*.example-8.tst
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.idx
*.ilg
*.ind
*.lab
*.log
*.out
*.pnr
*.six
*.toc
doc/manual.pdf
doc/tthmacros.tex
doc/tthout
htm/
include/config.h
include/stamp-h1
Makefile
src/.deps
src/.dirstamp
src/*.o
standalone-doc/guide.pdf
testPq
tst/GAP
